{% extends "layout.html" %}

{% block title %}
Transaction History
{% endblock %}

{% block main %}

<script>
    document.addEventListener("DOMContentLoaded", function()
    {
        let x = document.querySelector("#showForm");
        let button = document.querySelector("#showformbutton");
        console.log("You made it here 1");
        button.addEventListener("click", function() {
            if (x.style.display === "block")
            {
                x.style.display = "none";
            }
            else {
                x.style.display = "block";
            }
        });
    });
</script>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 50);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("indexDiv").style.display = "block";
}
</script>
<body>
<body onload = "myFunction()" style = "width: 100%;">
  <div id = "loader"></div>
<div id = "indexDiv" class ="animate-bottom" style = "display:none;">
<br>

<h class = "topblock">Comps</h>

      <h1>Search for a stock's comps</h1>
    <form action="/comps" method="post">
        <div class="form-group">
            <input name = "comp_ticker" placeholder = "Ticker" type = "text">
        </div>
      <input type = "submit" value = "Submit" style = "margin-bottom: 20px;">
    </form>
</div>

</div>
</body>
</body>
{% endblock %}

